.content {
  padding-top: 64px;
}

.flag {
  margin-bottom: 48px;
}

.info__title.override {
  margin-bottom: 32px;
}

.infoSections {
  margin-bottom: 48px;
}
.infoSections__section:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .backButton.override {
    margin-top: 32px;
  }

  .info {
    padding-left: 48px;
  }

  .infoSections__section > p {
    margin-bottom: 8px;
  }
}

@media (min-width: 900px) {
  .info {
    padding-left: 64px;
  }
}
