.countries {
  padding: 32px;
  min-height: calc(100vh - var(--appBarHeight));
}

.filters {
  display: flex;
  flex-direction: column;
}

.searchBox.override {
  margin-bottom: 32px;
  max-width: 420px;
}

.searchIcon {
  padding-right: 8px;
}

.dropdown.override {
  margin-bottom: 32px;
  max-width: 200px;
}

@media (min-width: 720px) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
  }
}
