.borderCountries__title.override {
  margin-bottom: 16px;
  line-height: 1;
}

.borderCountry.override {
  margin-bottom: 8px;
}
.borderCountry:not(:last-child) {
  margin-right: 8px;
}

@media (min-width: 900px) {
  .borderCountries {
    display: flex;
    flex-wrap: wrap;
  }
  .borderCountries__title.override {
    font-size: 16px;
    padding-right: 16px;
    position: relative;
    top: 6px;
  }
}
